.test-1, .test-2 {
    width: 100%;
    border-collapse: collapse;
}

.test-1 td, .test-2 td{
    border: solid 1px #ababab;
    padding: 10px;
}

.test-1 tr.row.odd {
    background-color: #dedede;
}

.test-1 .header {
    color: white;
    background-color: red;
    font-weight: bolder;
}

.test-2 .header {
    color: white;
    background-color: blue;
    font-weight: bolder;
}